{% extends "layout_bg.html" %}
{% load static %}

{% block title %}G-Fenix | Социални медии{% endblock %}

{% block imera %}


<section class="py-5 text-center" data-aos="fade-right">
  <div class="container">
    <h1 class="display-5 text-info">Следвайте G-Fenix</h1>
    <p class="lead text-white">Активни сме на различни платформи – присъединете се към нашето пътуване.</p>
  </div>
</section>

<!-- Sosyal Medya İkonları -->
<section class="pb-5">
  <div class="container">
    <div class="row justify-content-center g-4" data-aos="fade-left">

      <!-- LinkedIn -->
      <div class="col-6 col-md-3 text-center">
        <a href="https://www.linkedin.com/company/106604996/admin/dashboard/" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-linkedin fa-3x mb-2 text-primary"></i>
          <p class="mt-2">Линкедин</p>
        </a>
      </div>

      <!-- Instagram -->
      <div class="col-6 col-md-3 text-center">
        <a href="https://www.instagram.com/heygfenix/" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-instagram fa-3x mb-2" style="color: #e1306c;"></i>
          <p class="mt-2">Инстаграм</p>
        </a>
      </div>

      <!-- Twitter (X) -->
      <div class="col-6 col-md-3 text-center">
        <a href="https://x.com/g_fenix44823" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-x-twitter fa-3x mb-2 text-light"></i>
          <p class="mt-2">X</p>
        </a>
      </div>

      <!-- Facebook -->
      <div class="col-6 col-md-3 text-center">
        <a href="https://www.facebook.com/profile.php?id=61575763814260" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-facebook fa-3x mb-2 text-primary"></i>
          <p class="mt-2">Фейсбук</p>
        </a>
      </div>

      <!-- WhatsApp -->
      <div class="col-6 col-md-3 text-center">
        <a href="https://wa.me/905396102361?text=Hello%20GFenix%2C%20I%20visited%20website!" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-whatsapp fa-3x mb-2 text-success"></i>
          <p class="mt-2">УотсАпп</p>
        </a>
      </div>

      <!-- Viber -->
      <div class="col-6 col-md-3 text-center">
        <a href="viber://chat?number=+359887663892" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-viber fa-3x mb-2" style="color: #7360f2;"></i>
          <p class="mt-2">Вайбър</p>
        </a>
      </div>

      <!-- Telegram -->
      <div class="col-6 col-md-3 text-center">
        <a href="https://t.me/cengizhangenc" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-telegram fa-3x mb-2 text-info"></i>
          <p class="mt-2">Телеграм</p>
        </a>
      </div>

      <!-- E-Mail -->
      <div class="col-6 col-md-3 text-center">
        <a href="mailto:hello@g-fenix.com" class="text-decoration-none text-white">
          <i class="fas fa-envelope fa-3x mb-2 text-warning"></i>
          <p class="mt-2">Имейл</p>
        </a>
      </div>

      <!-- GitHub -->
      <div class="col-6 col-md-3 text-center">
        <a href="https://github.com/gfenix" target="_blank" class="text-decoration-none text-white">
          <i class="fab fa-github fa-3x mb-2 text-white"></i>
          <p class="mt-2">ГитХъб</p>
        </a>
      </div>

    </div>
  </div>
</section>

<div class="container text-center my-5" data-aos="zoom-in">
  <img src="{% static 'images/logoweb.png' %}" alt="G-FENIX Logo" 
      style="width: 160px; max-width: 100%; height: auto;">
</div>


{% endblock imera %}