{% extends "layout_en.html" %}
{% load static %}

{% block title %}G-Fenix | Future Projects{% endblock %}

{% block icerik %}

<div class="row">
  <div class="col-12">
    <div style="height: 100px;"></div> <!-- 50px boşluk -->
  </div>
</div>

<section class="usecases-section" data-aos="fade-up">
  <h1 class="section-title">Open the Doors to the Future with G-Fenix</h1>
  <p>We are on an exciting journey to create AI-driven, technological, and global solutions.</p>

  <div class="row">
    <div class="col-12">
      <div style="height: 100px;"></div> <!-- 50px boşluk -->
    </div>
  </div>

  <div class="usecases-grid">

    <!-- Card 1 -->
    <div class="usecase-card">
      <img src="{% static 'images/mobil.png' %}" alt="Report Automation">
      <h2>Mobile App Development</h2>
      <p>
        Our top priority is to develop data-driven mobile applications that enhance daily life and focus on user experience. Smart solutions for health, productivity, and education will soon be in your pocket.
      </p>
    </div>

    <div class="usecase-card">
      <img src="{% static 'images/alexa.png' %}" alt="Report Automation">
      <h2>AI-Integrated Devices</h2>
      <p>
        At home, at work, or on the move — we focus on making life smarter and more efficient with AI-powered devices. From voice-controlled systems to self-learning devices, we’re building the future.
      </p>
    </div>

    <div class="usecase-card">
      <img src="{% static 'images/makinerobot.png' %}" alt="Report Automation">
      <h2>Global Solutions with Machine Learning</h2>
      <p>
        We aim to increase our expertise in machine learning and develop systems used on a global scale. We're working on AI-powered personal assistants, smart recommendation engines, and predictive analytics.
      </p>
    </div>

  </div>
</section>

<div style="text-align: center; margin-top: 60px;" data-aos="fade-left">
<p style="font-size: 35px; margin-bottom: 16px; color: white; font-weight: 600;">
  Do you also have great ideas?
</p>
<a href="/contact-us/" style="
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #6c5ce7;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  " onmouseover="this.style.backgroundColor='#333'" onmouseout="this.style.backgroundColor='#6c5ce7'">
  Contact Us
</a>
</div>




<div class="container text-center my-5" data-aos="zoom-in">
  <img src="{% static 'images/logoweb.png' %}" alt="G-FENIX Logo" 
      style="width: 160px; max-width: 100%; height: auto;">
</div>


{% endblock icerik %}