{% extends "layout_bg.html" %}
{% load static %}

{% block title %}G-Fenix | Уеб разработка{% endblock %}

{% block imera %}


<section class="py-5 text-center bg-blur text-white section-spacer">
    <div class="container">
      <div class="row align-items-center mb-5" data-aos="fade-right">
        <div class="col-md-6">
          <div class="container">
            <h2 class="text-md-start text-center">Защо вашият бизнес има нужда от уебсайт?</h2>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-4">
          <img src="{% static 'images/thinkinggirl.png' %}"
            alt="Custom solution visual"
            class="img-fluid rounded"
            style="max-width: 100%; height: auto;">
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up">
          <div class="info-box h-100">
            <h5>🌐 Денонощно онлайн</h5>
            <p>Вашият уебсайт е вашата дигитална визитка, която никога не спи. Достъпна е по всяко време, отвсякъде.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="info-box h-100">
            <h5>🤝 Доверие и реноме</h5>
            <p>Клиентите имат повече доверие на бизнеси с професионално и модерно онлайн присъствие.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="info-box h-100">
            <h5>📈 Увеличете продажбите</h5>
            <p>Превърнете повече посетители в плащащи клиенти чрез ясно послание и интелигентен дизайн.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="info-box h-100">
            <h5>🛠️ Представете услугите си</h5>
            <p>Покажете ясно какво предлагате с визуални елементи и подробна информация, насочена към вашата аудитория.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section style="text-align: center; margin-top: 80px;" data-aos="fade-up">
    <h2 style="font-size: 26px; color: white; margin-bottom: 12px;">
      Освен това, попитахме ChatGPT: „Защо вашият бизнес има нужда от уебсайт?“
    </h2>
    <p style="font-size: 18px; color: #00ADB5; margin-bottom: 30px;">
      Ето какво отговори: 👇
    </p>

    <div style="display: flex; justify-content: center; margin-bottom: 60px; data-aos="fade-up"">
      <video style="width: 100%; max-width: 900px; height: auto;" autoplay muted controls>
        <source src="{% static 'videos/sonwebvideo.mp4' %}" type="video/mp4">
        Вашият браузър не поддържа видео етикета.
      </video>
    </div>
    
  </section>
  
  <hr class="section-divider">

  <!-- İçerik Bölümü -->
  <section class="py-5">
    <div class="container-fluid" style="padding: 0 150px;">
      <section class="d-flex justify-content-center align-items-center full-center-section">
        <h2 class="blur-heading" data-aos="fade-up">Какво получавате с нас?</h2>
      </section>
      <!-- 1. Satır: Metin solda -->
      <div class="row align-items-center mb-5" data-aos="fade-right">
        <div class="col-md-6">
          <div class="glass-card">
            <h2 class="mb-3">Създаваме модерни и ефективни уебсайтове</h2>
            <p>Ние сме експерти в създаването на уебсайтове, които отговарят на нуждите на съвременния бизнес — адаптивни, лесни за използване и визуално впечатляващи.</p>
            <h2 class="mt-5 mb-3">Оптимизирани за търсачки и с фокус върху производителността</h2>
            <p>Всеки уебсайт, който разработваме, е оптимизиран за търсачки и проектиран за бързо зареждане — така осигуряваме безпроблемно потребителско изживяване и онлайн видимост.</p>
          </div>
        </div>
        <div class="col-md-6 d-none d-md-flex justify-content-center align-items-center" style="height: 100%;">
          <img src="{% static 'images/websitecomputer2.png' %}" alt="Custom solution visual" class="img-fluid rounded">
        </div>
      </div>
  
      <!-- 2. Satır: Metin sağda -->
      <div class="row align-items-center flex-md-row-reverse" data-aos="fade-left">
        <!-- Yazı kısmı -->
        <div class="col-md-6">
          <div class="glass-card">
            <h2 class="mb-3">Индивидуални решения за вашия бизнес</h2>
            <p>Работим в тясно сътрудничество с вас, за да разберем целите ви и да създадем персонализирани уебсайтове, които отразяват идентичността на вашата марка и подпомагат растежа ви.</p>
            <h2 class="mt-5 mb-3">Технологиите, които използваме</h2>
            <p>Използваме HTML5, CSS3, JavaScript, Django и React, за да гарантираме, че вашият уебсайт е сигурен, мащабируем и готов за бъдещето.</p>
          </div>
        </div>
      
        <!-- Teknoloji ikonları kısmı -->
        <div class="col-md-6 d-none d-md-flex justify-content-center align-items-center" style="height: 100%;">
          <div class="tech-logos-container">
            <img src="{% static 'tech_logos/vscode.svg' %}" alt="VsCode" class="tech-icon" data-aos="zoom-in" data-aos-delay="0"/>
            <img src="{% static 'tech_logos/python-svgrepo-com.svg' %}" alt="Python" class="tech-icon" data-aos="zoom-in" data-aos-delay="100"/>
            <img src="{% static 'tech_logos/django-svgrepo-com.svg' %}" alt="Django" class="tech-icon" data-aos="zoom-in" data-aos-delay="200"/>
            <img src="{% static 'tech_logos/html-5-svgrepo-com.svg' %}" alt="HTML5" class="tech-icon" data-aos="zoom-in" data-aos-delay="300"/>
            <img src="{% static 'tech_logos/css-3-svgrepo-com.svg' %}" alt="CSS3" class="tech-icon" data-aos="zoom-in" data-aos-delay="400"/>
            <img src="{% static 'tech_logos/javascript-svgrepo-com.svg' %}" alt="JavaScript" class="tech-icon" data-aos="zoom-in" data-aos-delay="500"/>
            <img src="{% static 'tech_logos/github.svg' %}" alt="GitHub" class="tech-icon" data-aos="zoom-in" data-aos-delay="600"/>
            <img src="{% static 'tech_logos/database-svgrepo-com.svg' %}" alt="Database" class="tech-icon" data-aos="zoom-in" data-aos-delay="700"/>
            <img src="{% static 'tech_logos/sqlite-svgrepo-com.svg' %}" alt="SQLite" class="tech-icon" data-aos="zoom-in" data-aos-delay="800"/>
            <img src="{% static 'tech_logos/render.svg' %}" alt="Render" class="tech-icon" data-aos="zoom-in" data-aos-delay="900"/>
          </div>
        </div>
      </div>
  
    </div>
  </section>

  <section class="py-5">
    <div class="container text-white">
      <div class="row justify-content-center mb-4">
        <div class="col-md-5" data-aos="fade-right">
          <div class="p-4 rounded-pill border-start border-4 border-info position-relative"
            style="background-color: rgba(0, 0, 0, 0);">
              <h5 class="mb-1">💬 Корпоративни сайтове</h5>
              <p class="mb-0">Искате ли уебсайт, който отразява вашата марка и създава професионално усещане още от първото кликване? Създаваме стилни и адаптивни сайтове, които оставят силно първо впечатление.</p>
              <p class="position-absolute top-50 end-0 translate-middle-y text-info fs-4"></p>
          </div>
        </div>
        <div class="col-md-5" data-aos="fade-left">
          <div class="p-4 rounded-pill border-start border-4 border-success position-relative"
            style="background-color: rgba(0, 0, 0, 0);">
              <h5 class="mb-1">💬 Електронна търговия</h5>
              <p class="mb-0">Помагаме ви да продавате умно и без усилия. Нашите e-commerce решения са бързи, сигурни и проектирани да превръщат посетителите в лоялни клиенти. Позволете ни да превърнем магазина ви в безупречно пазаруване.</p>
              <p class="position-absolute top-50 end-0 translate-middle-y text-success fs-4"></p>
          </div>
        </div>
      </div>

      <!-- Line 2 -->
      <div class="row justify-content-center mb-4">
        <div class="col-md-5" data-aos="fade-right">
          <div class="p-4 rounded-pill border-start border-4 border-warning position-relative"
            style="background-color: rgba(0, 0, 0, 0);">
              <h5 class="mb-1">💬 Специализирана разработка</h5>
              <p class="mb-0">Имате уникална идея? Страхотно! Обичаме да създаваме специализирани уеб инструменти, които реализират вашата визия — изцяло съобразени с бизнес целите ви. Няма готови шаблони, няма ограничения — само индивидуални решения.</p>
              <p class="position-absolute top-50 end-0 translate-middle-y text-warning fs-4"></p>
          </div>
        </div>
        <div class="col-md-5" data-aos="fade-left">
          <div class="p-4 rounded-pill border-start border-4 border-primary position-relative"
            style="background-color: rgba(0, 0, 0, 0);">
              <h5 class="mb-1">💬 Мобилна съвместимост</h5>
              <p class="mb-0">Гарантираме, че сайтът ви изглежда страхотно и работи безупречно на всяко устройство — било то телефон, таблет или компютър. Винаги адаптивен, винаги надежден.</p>
              <p class="position-absolute top-50 end-0 translate-middle-y text-primary fs-4"></p>
          </div>
        </div>
      </div>

      <!-- Line 3 -->
      <div class="row justify-content-center">
        <div class="col-md-5" data-aos="fade-right">
          <div class="p-4 rounded-pill border-start border-4 border-danger position-relative"
            style="background-color: rgba(0, 0, 0, 0);">
              <h5 class="mb-1">💬 SEO и скорост</h5>
              <p class="mb-0">Независимо от устройството — ние осигуряваме перфектна визия и функционалност. Оптимизацията и бързината са наш приоритет.</p>
              <p class="position-absolute top-50 end-0 translate-middle-y text-danger fs-4"></p>
          </div>
        </div>
        <div class="col-md-5" data-aos="fade-left">
          <div class="p-4 rounded-pill border-start border-4 border-secondary position-relative"
            style="background-color: rgba(0, 0, 0, 0);">
              <h5 class="mb-1">💬 Сигурна технологична основа</h5>
              <p class="mb-0">Какви инструменти използваме? Надеждни, модерни и сигурни. Работим с HTML5, CSS3, JavaScript, Django и React, за да ви осигурим стабилна основа.</p>
          </div>
        </div>
      </div>
      <div style="text-align: center; margin-top: 60px;" data-aos="fade-left">
        <p style="font-size: 35px; margin-bottom: 16px; color: white; font-weight: 600;">
          Искате ли да създадете собствен уебсайт?
        </p>
        <a href="/bg/kontakt" style="
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #00ADB5;
            text-decoration: none;
            border-radius: 6px;
            transition: background-color 0.3s ease;
          " onmouseover="this.style.backgroundColor='#333'" onmouseout="this.style.backgroundColor='#00ADB5'">
          Свържете се с нас
        </a>
      </div>
    </div>
  </section>

  <section id="technologies">
    <section class="d-flex justify-content-center align-items-center full-center-section">
      <h2 class="blur-heading" data-aos="fade-up">Технологиите, които използваме</h2>
    </section>
    <div class="tech-logos">
      <img src="{% static 'tech_logos/vscode.svg' %}" alt="VsCode" class="tech-icon" data-aos="zoom-in" data-aos-delay="0"/>
      <img src="{% static 'tech_logos/python-svgrepo-com.svg' %}" alt="Python" class="tech-icon" data-aos="zoom-in" data-aos-delay="100"/>
      <img src="{% static 'tech_logos/django-svgrepo-com.svg' %}" alt="Django" class="tech-icon" data-aos="zoom-in" data-aos-delay="200"/>
      <img src="{% static 'tech_logos/html-5-svgrepo-com.svg' %}" alt="HTML5" class="tech-icon" data-aos="zoom-in" data-aos-delay="300"/>
      <img src="{% static 'tech_logos/css-3-svgrepo-com.svg' %}" alt="CSS3" class="tech-icon" data-aos="zoom-in" data-aos-delay="400"/>
      <img src="{% static 'tech_logos/javascript-svgrepo-com.svg' %}" alt="JavaScript" class="tech-icon" data-aos="zoom-in" data-aos-delay="500"/>
      <img src="{% static 'tech_logos/github.svg' %}" alt="GitHub" class="tech-icon" data-aos="zoom-in" data-aos-delay="600"/>
      <img src="{% static 'tech_logos/database-svgrepo-com.svg' %}" alt="DataBase" class="tech-icon" data-aos="zoom-in" data-aos-delay="700"/>
      <img src="{% static 'tech_logos/sqlite-svgrepo-com.svg' %}" alt="SQlite" class="tech-icon" data-aos="zoom-in" data-aos-delay="800"/>
      <img src="{% static 'tech_logos/render.svg' %}" alt="Render" class="tech-icon" data-aos="zoom-in" data-aos-delay="900"/>
    </div>
  </section>

  <div class="container text-center my-5" data-aos="zoom-in">
    <img src="{% static 'images/logoweb.png' %}" alt="G-FENIX Logo" 
        style="width: 160px; max-width: 100%; height: auto;">
  </div>


{% endblock imera %}