{% extends "layout_tr.html" %}
{% load static %}

{% block title %}G-Fenix | Cengizhan Genç{% endblock %}

{% block content %}


<section class="py-5" style="background-color: none">
  <div class="container">
    <div class="row align-items-center">
      
      <!-- Sol: Fotoğraf (4 kolon) -->
      <div class="col-md-4 text-center mb-4 mb-md-0" data-aos="fade-right">
        <img src="{% static 'images/cengoo.png' %}" alt="Cengizhan Genç" style="max-width: 100%; height: auto; border-radius: 15px;">
      </div>

      <!-- Sağ: Hakkında Yazı (8 kolon) -->
      <div class="col-md-8" data-aos="fade-right">
        <h2 class="mb-4 fw-bold" data-aos="fade-up">Cengizhan Genç</h2>

        <div class="styled-paragraph mb-4" data-aos="fade-right">
          <p class="text-white mb-0">
            <i class="fas fa-code me-2 text-info"></i>
            Merhaba! Ben Cengizhan Genç, 7 Kasım 1996 doğumluyum ve Trabzonluyum. Akademik hayatıma Spor Bilimleri Fakültesi’nde başladım, ancak Erasmus programıyla Bulgaristan’a gitmem ve ardından Barcelona’da yaşamam, hayatımda yeni bir sayfa açtı. Bu süreçte veri bilimi ve yazılım dünyasıyla tanıştım ve bu alanlarda kendimi geliştirmeye karar verdim.
          </p>
        </div>

        <div class="styled-paragraph mb-4" data-aos="fade-right" data-aos-delay="100">
          <p class="text-white mb-0">
            <i class="fas fa-chart-line me-2 text-success"></i>
            VS Code üzerinde Python ve Django kullanarak kendi web sitemi sıfırdan tasarladım. Aynı zamanda Dart ve Flutter ile mobil uygulama geliştirme üzerine çalışıyorum ve makine öğrenimi alanında aktif eğitimler alıyorum. Python ekosistemine dair Selenium, Pandas, Jinja ve Django gibi kütüphanelerde yetkinliğim bulunmakta. Veri görselleştirme ve analiz konusunda Power BI kullanıyor; veri tabanı yönetimi için Microsoft SQL Server, API testleri için ise Postman araçlarında deneyim sahibiyim.
          </p>
        </div>

        <div class="styled-paragraph" data-aos="fade-right" data-aos-delay="200">
          <p class="text-white mb-0">
            <i class="fas fa-users me-2 text-warning"></i>
            Spor bilimlerinden yazılıma uzanan bu yolculuğum, analitik düşünme ve problem çözme becerilerimi teknoloji ile buluşturmama vesile oldu. Yeni şeyler öğrenmeye tutkuyla bağlıyım ve çok disiplinli geçmişim sayesinde farklı alanları bir araya getirerek yaratıcı çözümler üretebiliyorum.
          </p>
        </div>

    </div>
  </div>
</section>

<div class="container text-center my-5" data-aos="zoom-in">
  <img src="{% static 'images/logoweb.png' %}" alt="G-FENIX Logo" 
      style="width: 160px; max-width: 100%; height: auto;">
</div>

{% endblock content %}