{% extends "layout_tr.html" %}
{% load static %}

{% block title %}G-Fenix | Ekibimiz{% endblock %}

{% block content %}


<div class="container">
    <div class="col" data-aos="fade-up">
        <h1>Ekibimiz</h1>
    </div>
</div>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center g-5">
      
      <!-- Jessica -->
      <div class="col-md-4 text-center" data-aos="fade-up">
        <a href="{% url 'jessicaa' %}" class="text-decoration-none">
          <img src="{% static 'images/jessicaa.jpeg' %}" class="img-fluid rounded-circle shadow" alt="Jessica" style="width: 200px; height: 200px; object-fit: cover;">
        </a>
          <h5 class="mt-3">
          <a href="{% url 'jessicaa' %}" class="text-decoration-none text-white">Jessica Fenix</a>
        </h5>
        <p class="text-white">
          <a href="{% url 'jessicaa' %}" class="text-decoration-none text-white">( Veri ve Yapay Zekâ Uzmanı! )</a>
        </p>
      </div>

      <!-- Cengizhan -->
      <div class="col-md-4 text-center" data-aos="fade-up">
        <a href="{% url 'cengizhann' %}" class="text-decoration-none">
          <img src="{% static 'images/CGLG5321.jpg' %}" class="img-fluid rounded-circle shadow" alt="Cengizhan" style="width: 200px; height: 200px; object-fit: cover;">
        </a>
          <h5 class="mt-3">
          <a href="{% url 'cengizhann' %}" class="text-decoration-none text-white">Cengizhan Genç</a>
        </h5>
        <p class="text-white">
          <a href="{% url 'cengizhann' %}" class="text-decoration-none text-white">( Data ve Web Geliştirici )</a>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container text-center my-5" data-aos="zoom-in">
  <img src="{% static 'images/logoweb.png' %}" alt="G-FENIX Logo" 
      style="width: 160px; max-width: 100%; height: auto;">
  </div>

          
{% endblock content %}