{% extends "layout_bg.html" %}
{% load static %}

{% block title %}G-Fenix | Бъдещи проекти{% endblock %}

{% block imera %}


<div class="row">
  <div class="col-12">
    <div style="height: 100px;"></div> <!-- 50px boşluk -->
  </div>
</div>

<section class="usecases-section" data-aos="fade-up">
  <h1 class="section-title">Отвори вратите към бъдещето с G-Fenix</h1>
  <p>Ние сме по вълнуващ път към разработване на технологични, глобални и AI-базирани решения.</p>

  <div class="row">
    <div class="col-12">
      <div style="height: 100px;"></div> <!-- 50px boşluk -->
    </div>
  </div>

  <div class="usecases-grid">

    <!-- Card 1 -->
    <div class="usecase-card">
      <img src="{% static 'images/mobil.png' %}" alt="Report Automation">
      <h2>Разработка на Мобилни Приложения</h2>
      <p>
        Наш основен приоритет е да създаваме мобилни приложения, които улесняват ежедневието, базирани на данни и ориентирани към потребителя. Умни решения за здраве, продуктивност и образование скоро ще бъдат в джоба ви.
      </p>
    </div>

    <div class="usecase-card">
      <img src="{% static 'images/alexa.png' %}" alt="Report Automation">
      <h2>Устройства с AI Интеграция</h2>
      <p>
        Вкъщи, в офиса или в движение — ние се стремим да направим живота по-умен и ефективен с AI устройства. Гласово управлявани системи и устройства, които се учат сами, са част от нашите бъдещи проекти.
      </p>
    </div>

    <div class="usecase-card">
      <img src="{% static 'images/makinerobot.png' %}" alt="Report Automation">
      <h2>Глобални Решения с Машинно Обучение</h2>
      <p>
        Целим да разширим компетенциите си в машинното обучение и да създаваме системи с глобално приложение. Работим по AI лични асистенти, препоръчващи алгоритми и прогнозни анализи.
      </p>
    </div>

  </div>
</section>

<div style="text-align: center; margin-top: 60px;" data-aos="fade-left">
<p style="font-size: 35px; margin-bottom: 16px; color: white; font-weight: 600;">
  Имате ли и вие страхотни идеи?
</p>
<a href="/bg/kontakt" style="
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #6c5ce7;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  " onmouseover="this.style.backgroundColor='#333'" onmouseout="this.style.backgroundColor='#6c5ce7'">
  Свържете се с нас
</a>
</div>



<div class="container text-center my-5" data-aos="zoom-in">
  <img src="{% static 'images/logoweb.png' %}" alt="G-FENIX Logo" 
      style="width: 160px; max-width: 100%; height: auto;">
</div>


{% endblock imera %}